@model IEnumerable<FieldFieldDependency>
@{
    ViewData["Title"] = "ListOfDependency";
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    @foreach (FieldFieldDependency fieldDep in Model)
    {
        <tr>
            <td>@fieldDep.ActivationValue</td>
            <td>@fieldDep.DependencyType</td>

            <td>
                <form><a asp-controller="FieldDependency" asp-action="Index" asp-route-id="@fieldDep.Id" asp-route-idDep="@fieldDep.IdDependency"> Przejdz do zaleznosci </a></form>
            </td>
        </tr>
    }
<p>
    <form><a  class="btn-outline-success" FieldDependency" asp-action="Index" asp-route-id="@Model.FirstOrDefault().Id" > Dodaj nową zależność  </a></form>
</p>
</body>
</html>
