@model FormContainsField
@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj/usuń pole</title>
    <style>

        table {
            border-collapse: collapse;
            width: 100%;
            box-shadow: black;
        }

        th {
            text-align: left;
            color: lightgray;
            padding: 8px;
            border-bottom: 2px solid grey;
            color: black;
        }

        td {
            text-align: left;
            padding: 8px;
            border-bottom: 2px solid grey;
        }

        tr {
            background-color: whitesmoke;
        }



        a {
            color: forestgreen;
            font-weight: 500;
        }

        .table tbody tr:hover {
            background-color: darkgray;
        }

        td {
            color: black;
        }
    </style>
</head>
<body>
    <form asp-action="EdycjaFormularza" method="post">
        <div><br /></div>
        <a style="color:black" asp-area="" asp-controller="Forms" asp-action="ListaFormularzy">
            <img src="~/arrow2.png" class="rounded-circle" alt="Add" width="30" height="30">
        </a>
        <a style="color:black" asp-area="" asp-controller="Fields" asp-action="AddNewField" asp-route-id="@Model.IdForm">
            <img src="~/add.png" class="rounded-circle" alt="Add" width="30" height="30">
        </a>
        <th>Nowe pytanie</th>


        <p>
            <input asp-for="IdForm" style="visibility:hidden" />
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.fields.Count(); i++)
                {
                    <tr>
                        <td>
                            <label asp-for="fields[i].NameField" style=" font-size:large">@Model.fields[i].NameField</label>
                            <input asp-for="fields[i].NameField" hidden />
                            <input asp-for="fields[i].IdField" hidden />
                        </td>

                        <td>
                            <label>Czy formularz ma zawierać pole?</label>
                            <select asp-for="fields[i].ContainsField">
                                <option value="">Wybierz opcję</option>
                                <option value="true">Tak</option>
                                <option value="false">Nie</option>
                            </select>
                        </td>
                        <td>
                            <a asp-controller="Fields" asp-action="EditNewField" asp-route-id="@Model.fields[i].IdField" asp-route-form="@Model.IdForm">Edycja pola</a> |
                            <a asp-controller="Fields" asp-action="DeleteNewField" asp-route-id="@Model.fields[i].IdField" asp-route-form="@Model.IdForm">Usuwanie pola</a> |
                            <a asp-controller="Fields" asp-action="DetailsNewField" asp-route-id="@Model.fields[i].IdField" asp-route-form="@Model.IdForm">Szczegóły pola</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <br />
        <button class="btn-outline-dark" type="submit">
            Zapisz
        </button>
    </form>
    <script>
        sessionStorage.removeItem('key');
    </script>
</body>
</html>

