@model List<EntranceFormAnswers>

@{
    ViewData["Title"] = "Index";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        box-shadow: black;
    }

    th {
        text-align: left;
        color: lightgray;
        padding: 8px;
        border-bottom: 2px solid grey;
        color: black;
    }

    td {
        text-align: left;
        padding: 8px;
        border-bottom: 2px solid grey;
    }

    tr {
        background-color: whitesmoke;
    }



    a {
        color: forestgreen;
        font-weight: 500;
    }

    .table tbody tr:hover {
        background-color: darkgray;
    }

    td {
        color: black;
    }
</style>
<div><br /></div>
<span>
    <h3>Formularz powitalny</h3>
</span>
<div><br /></div>
<form asp-action="EntranceForm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model[0].Name)*@
                    Nazwa
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model[0].Answer)*@
                    Odpowiedź
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <input hidden asp-for="@Model[i].IdField" />
                <tr>
                    <td>
                        <input hidden asp-for="@Model[i].Name" />
                        @Html.DisplayFor(model => model[i].Name)
                    </td>
                    <td>
                        <input asp-for="@Model[i].Answer" />
                    </td>
                    <td>
                        <input hidden asp-for="@Model[i].IdPatient" value="@ViewBag.bag" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Zapisz" class="class=" btn-outline-dark"" />
    </div>
</form>

