@model IEnumerable<FormGenerator.Models.Field>

@{
    ViewData["Title"] = "Index";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr {
        background-color: #8bbabb
    }

    th {
        background-color: #464159;
        color: white;
    }

    a {
        color: #424242;
        font-weight: 500;
    }

    .table tbody tr:hover {
        background-color: #6C7B95;
    }

    td {
        color: black;
    }
</style>
<div>
    <button class="btn btn-danger" style="margin-bottom:10px;"><a id="stworzNowyFormularz" style="text-decoration:none;" asp-action="Create">Dodaj nową zależność do formularza początkowego</a></button>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Pytanie
            </th>
            <th>
                Typ Pytania
            </th>
            <th>
                ...
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <button type="button" class="btn btn-info"><a style="text-decoration:none;color:white;" asp-action="AddConnection" asp-route-id="@item.Id">Edycja</a></button>
                    <button type="button" class="btn btn-info"><a style="text-decoration:none;color:white;" asp-action="Delete" asp-route-id="@item.Id">Usuń</a></button>


                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"asp-action="Delete" asp-route-id="@item.Id">
                        Usun
                    </button>

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <p>Chcesz usunac jestes pewny???</p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <div>
                                        <form asp-action="Delete"asp-route-id="@item.Id">
                                            <input type="hidden" />
                                            <input type="submit" value="USUŃ" class="btn btn-danger" /> |
                                            <a asp-action="Index">Powrót do listy</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
